<section class='m_widget about'>
<img class='avatar waves-image' src='/images/avatar.jpe' />
<div class='header'><%=config.author %></div>
<div class='content'>
<div id='hitokoto'></div>
</div>
</section>