<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%=config.avatar %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div id='hitokoto'></div>
</div>
</section>